.container-fluid {
  padding: 30px;
}
.left-side {
  padding: 20px;
  height: 100vh;
}
.right-side {
  padding: 20px;
  height: 100vh;
  border-radius: 10px;
  margin-left: 6rem !important;
}
.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
body {
  font-family: "Poppins";
}
.background {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
